{% extends 'Kdm/Inner.html' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="/">Главная страница</a></li>
        <li><a href="/news/">Новости</a></li>
        <li class="active">Архив</li>
        <li></li>
    </ol>

    <h3 style="color: #10437e;">Архив новостей</h3>
    <table class="table">
        <tbody>
        {% for item in items %}
            <tr>
                <td width="80%">
                    <a href="/news/archive/year/{{ item.year }}" style="display: block">
                        {{ item.year }} год
                    </a>
                </td>
                <td>
                    <span>новостей: &nbsp;</span>
                    <span class="badge">{{ item.count }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}