{% extends 'Kdm/Inner.html' %}

{% block content %}

    {% set pageSize = 20 %}
    {% do provider.setPageSize(pageSize) %}

    {% set rusmonths = {1 : 'Январь', 2 : 'Февраль', 3 : 'Март', 4 : 'Апрель', 5 : 'Май', 6 : 'Июнь',
    7 : 'Июль', 8 : 'Август', 9 : 'Сентябрь', 10 : 'Октябрь', 11 : 'Ноябрь', 12 : 'Декабрь'} %}

    <ol class="breadcrumb">
        <li><a href="/">Главная страница</a></li>
        <li><a href="/news/">Новости</a></li>
        <li><a href="/news/archive">Архив</a></li>
        <li><a href="/news/archive/{{ year }}/">{{ year }} год</a></li>
        <li class="active">{{ rusmonths[month] }}</li>
        <li></li>
    </ol>

    <h2 style="margin-top: 0">Архив новостей за {{ rusmonths[month] }}, {{ year }} год</h2>

    <section class="panel panel-default">
        <div class="panel-body">
        {% for item in provider.getPage(page) %}
            <h1><a href="/news/topics/{{ item.topic.Pk }}.html">{{ item.topic.title }}</a></h1>
            <article>
                <div class="main-page-news top-news clearfix">
                    <div class="date-news">{{ item.published|date('d.m.Y') }}</div>
                    <div class="title-news">
                        <strong>
                            <a href="/news/{{ item.Pk }}.html">{{ item.title }}</a>
                        </strong>
                    </div>
                    {% if item.image %}<img class="media-object img-responsive img-thumbnail pull-left" src="{{ item.image }}" style="max-width: 200px; margin-right: 10px;">{% endif %}
                    <div class="description-news">{{ item.lead|striptags|raw }}</div>
                </div>
            </article>
        {% endfor %}
        </div>
    </section>

    {{ widget('pager', {'total': provider.total, 'size': provider.pageSize, 'active': page}) }}

{% endblock %}