{% extends 'Kdm/Inner.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    <li class="active">Галерея</li>
    <li></li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
{% for item in items %}
    {% if not item.countPhotos == 0 %}
    <div class="col-sm-5 text-center">
        <a href="/gallery/albums/{{item.url}}.html"><img src="{{item.getAlbumImage}}" class="img-responsive" style="display:inline-block; max-height: 300px;"></a>
        <p>
            <a href="/gallery/albums/{{item.url}}.html">{{item.title}}</a>
        </p>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}