{% extends 'Kdm/Inner.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    <li class="active">Галерея</li>
    <li></li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
{% for item in items %}
    <div class="col-sm-6 text-center">
        <a href="/gallery/photo?id={{item.Pk}}"><img src="{{item.getAlbumImage}}" class="img-responsive" style="display:inline-block; max-height: 300px;"></a>
        <p>
            <a href="/gallery/photo?id={{item.Pk}}">{{item.title}}</a>
        </p>
    </div>
{% endfor %}
</div>
{% endblock %}