{% extends 'Kdm/Inner.html' %}

{% block content %}

{% set rusmonths = {1 : 'Январь', 2 : 'Февраль', 3 : 'Март', 4 : 'Апрель', 5 : 'Май', 6 : 'Июнь',
7 : 'Июль', 8 : 'Август', 9 : 'Сентябрь', 10 : 'Октябрь', 11 : 'Ноябрь', 12 : 'Декабрь'} %}

<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    <li><a href="/news/">Новости</a></li>
    <li><a href="/news/archives/all">Архивы</a></li>
    <li><a href="/news/archive/{{year}}">Архив {{year}}</a></li>
    <li><a href="/news/archive/{{year}}/{{monthnum}}"> {{rusmonths[monthnum]}}</a></li>
    <li class="active">{{topic.title}}</li>
</ol>

<h2 style="margin-top: 0; margin-bottom: 30px; color: #0055aa">{{topic.title}}, (всего: {{total}})</h2>

{% for item in items %}
<div class="media" style="margin-top: 0; margin-bottom: 15px;">
    <div class="pull-left">
        <span class="label label-info">{{item.published|date('d.m.Y')}}</span>
        {% if item.image %}<img class="media-object img-responsive img-thumbnail" src="{{item.image}}" style="max-width: 200px">{% endif %}
    </div>
    <div class="media-body">
        <h4 class="media-heading"><a href="/news/{{item.Pk}}.html">{{item.title}}</a></h4>
        <div>{{item.lead|striptags|raw}}</div>
    </div>
</div>
{% endfor %}

<p class="pull-right"><a href="/news/archive/{{year}}/{{monthnum}}">
    <i class="glyphicon glyphicon-chevron-right"></i>вернуться к выбору рубрик</a></p>

{{widget('pager', {total: total, size: size, active: page})}}

{% endblock %}