{% extends 'Kdm/Inner.html' %}

{% block content %}

{% set rusmonths = {1 : 'Январь', 2 : 'Февраль', 3 : 'Март', 4 : 'Апрель', 5 : 'Май', 6 : 'Июнь',
7 : 'Июль', 8 : 'Август', 9 : 'Сентябрь', 10 : 'Октябрь', 11 : 'Ноябрь', 12 : 'Декабрь'} %}

<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    <li><a href="/news/">Новости</a></li>
    <li class="active">Архив {{year}}</li>
</ol>

<h3><a href="/news/archive">Архив новостей {{year}} года</a></h3>
<section class="panel panel-default">
    <div class="panel-body">
        <h4>За какой месяц Вы хотите посмотреть архив?</h4>
        <ul>
            {% for key, month in rusmonths %}
            <li>
                <a href="/news/archive/{{year}}/{{key}}">{{month}}</a>
            </li>
            {% endfor %}
        </ul>
<!--        <form>
            <p>Выберите месяц: <input type="month" name="month" value="{{year}}-01" max="2999-01-01" min="1970-01-01">
               <input type="hidden" name="year" value="{{year}}">
                <input type="submit" value="Выбрать"></p>
        </form> -->
        <p class="pull-right"><a href="/news/archives/all">
            <i class="glyphicon glyphicon-chevron-right"></i>вернуться к архивам</a></p>
    </div>
</section>

<!-- {{widget('pager', {total: total, size: size, active: page})}} -->

{% endblock %}
