{% extends 'Main/Inner.html' %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    <li><a href="/news/" class="active">Новости</a></li>
</ol>

{% for item in items %}
<div class="media" style="margin-top: 0; margin-bottom: 15px;">
    <div class="pull-left">
        <span class="label label-info">{{item.published|date('d.m.Y')}}</span>
        <img class="media-object img-responsive img-thumbnail" src="{{item.image}}" style="max-width: 200px">
    </div>
    <div class="media-body">
        <h4 class="media-heading"><a href="/news/{{item.Pk}}.html">{{item.title}}</a></h4>
        <div>{{item.lead|striptags|raw}}</div>
    </div>
    <p class="pull-right">Теги: <span class="label label-default">пример1, пример2</span></p>
</div>
{% endfor %}

{% endblock %}