{% for i, item in items %}
{% if i < 3 %}
<div class="media" style="margin-top: 0; margin-bottom: 15px;">
    <div>
        {% if item.image %}<img class="media-object img-responsive img-thumbnail" src="{{item.image}}">{% endif %}
    </div>
    <div class="pull-left">
        <span class="label label-info">{{item.published|date('d.m.Y')}}</span>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><a href="/news/{{item.Pk}}.html">{{item.title}}</a></h4>
        <div>{{item.lead|striptags|raw}}</div>
    </div>
</div>
{% else %}
<div class="media" style="margin-top: 0; margin-bottom: 15px;">
    <div class="pull-left">
        <span class="label label-info">{{item.published|date('d.m.Y')}}</span>
        {% if item.image %}<img class="media-object img-responsive img-thumbnail" src="{{item.image}}" style="max-width: 200px">{% endif %}
    </div>
    <div class="media-body">
        <h4 class="media-heading"><a href="/news/{{item.Pk}}.html">{{item.title}}</a></h4>
        <div>{{item.lead|striptags|raw}}</div>
    </div>
</div>
{% endif %}
{% endfor %}