{% extends 'Main/Inner.html' %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    <li class="active">Новости</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
    {% set active=0 %}
    {% for topic in topics %}
    <li{% if not active %} class="active"{% endif %}><a href="#topic-{{topic.Pk}}" role="tab" data-toggle="tab">{{topic.title}}</a></li>
    {% set active=active+1 %}
    {% endfor %}
</ul>

<div class="tab-content">
    {% set active=0 %}
    {% for topic in topics %}
    <div class="tab-pane{% if not active %} active{% endif %}" id="topic-{{topic.Pk}}">
        <br />
        <t4:block path="/News//NewsByTopic" template="index" id="{{topic.Pk}}" />
    </div>
    {% set active=active+1 %}
    {% endfor %}
</div>

{% endblock %}