<div class="section-title text-upp federal-news"><strong><a href="/news/topics/{{topic.Pk}}.html">{{topic.title}}</a></strong></div>
<section>
    {% for i, item in items %}
    <article>
        <div class="main-page-news federal-news">
            <div class="date-news">{{item.published|date('d.m.Y')}}</div>
            <div class="title-news">
                <strong>
                    <a href="/news/{{item.Pk}}.html" alt="#" title="#">{{item.title}}</a>
                </strong>
            </div>
            <div class="description-news">{{item.lead|striptags|raw}}</div>
        </div>
    </article>
    {% endfor %}
</section>