<div class="well">
    <form class="smart-form" method="post" action="/news/admin/save">
        {% if page.isNew %}
        <header>Добавление новости</header>
        {% else %}
        <input type="hidden" name="__id" value="{{item.Pk}}">
        <header>Редактирование новости</header>
        {% endif %}
        <fieldset>
            <section>
                <label class="label">Заголовок новости</label>
                <label class="input">
                    <input type="text" name="title" value="{{item.title}}">
                </label>
            </section>
            <section>
                <label class="label">Раздел</label>
                <label class="select">
                    {% if page.isNew %}
                    {{ selectTreeByModel("App\\Modules\\News\\Models\\\NewsTopic", item.topic.Pk, {"null":true}, {"name":"__newstopic_id"}) }}
                    {% else %}
                    {{ selectTreeByModel("App\\Modules\\News\\Models\\\NewsTopic", item.topic.Pk, {"null":true, 'disabled':[item.Pk]}, {"name":"__newstopic_id"}) }}
                    {% endif %}
                    <i></i>
                </label>
            </section>
            <section>
                <label class="label">Lead (введение)</label>
                <label class="textarea textarea-resizable">
                    <textarea rows="3" class="custom-scroll" name="lead">{{item.lead}}</textarea>
                </label>
            </section>
            <section>
                <label class="label">Текст новости</label>
                <label class="textarea textarea-resizable">
                    <textarea rows="3" class="custom-scroll" name="text">{{item.text}}</textarea>
                </label>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
        </footer>
    </form>
</div>

<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    pageSetUp();
    // PAGE RELATED SCRIPTS
    {{publish('/Layouts/Admin/SmartAdmin/assets')}}
    loadScript("{{ asset('/Layouts/Admin/SmartAdmin/assets/js/plugin/ckeditor/ckeditor.js') }}", function () {
        CKEDITOR.replace('lead', { height: '380px', startupFocus : true} );
        CKEDITOR.replace('text', { height: '380px', startupFocus : true} );
    });
</script>