<p>Получено обращение с сайта <a href="http://kdm44.ru">kdm44.ru</a></p>

{% if item.type == 'send' %}
{% set type = 'письмо' %}
{% elseif item.type == 'corruption' %}
{% set type = 'сообщить о коррупции' %}
{% elseif item.type == 'collective-send' %}
{% set type = 'коллективное обращение' %}
{% else %}
{% set type = item.type %}
{% endif %}

<p>Номер обращения: {{ item.Pk }}</p>
<p>Тип: {{ type }}</p>
<p>Получатель: {{ item.recipient }}</p>
<p>Отправитель: {{ item.last_name }} {{ item.first_name }} {{ item.middle_name }}</p>
<p>Email: {{ item.email }}</p>
<p>Отправлено: {{ item.created_at | date('d.m.Y H:i') }}</p>
<p>
    Прикреплённый документ обращения:
    {% if item.file1 is not empty %}
    {{ item.file1 }}
    {% else %}
    Нет
    {% endif %}
</p>
