{% extends 'Admin/Smart/blank_.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/news/">Новости</a></li>
    <li>{% if item.isNew %}Добавление новости{% else %}Редактирование новости{% endif %}</li>
</ol>
{% endblock %}

{% block content %}

<section class="well">
    <form class="smart-form" method="post" enctype="multipart/form-data" action="/admin/news/save">
        {% if item.isNew %}
        <header>Добавление новости</header>
        {% else %}
        <input type="hidden" name="__id" value="{{item.Pk}}">
        <header>Редактирование новости</header>
        {% endif %}
        <fieldset>
            <section>
                <label class="label">Заголовок новости</label>
                <label class="input">
                    <input type="text" name="title" value="{{item.title}}">
                </label>
            </section>
            <section>
                <label class="label">Раздел</label>
                <label class="select">
                    {% if item.isNew %}
                    {{ selectTreeByModel("App\\Modules\\News\\Models\\Topic", 0, {"null":true}, {"name":"topic"}) }}
                    {% else %}
                    {{ selectTreeByModel("App\\Modules\\News\\Models\\Topic", item.topic.Pk, {"null":true, 'disabled':[item.Pk]}, {"name":"topic"}) }}
                    {% endif %}
                    <i></i>
                </label>
            </section>
            <section>
                <label class="label">Lead (введение)</label>
                <label class="textarea textarea-resizable">
                    <t4:editor name="lead">{{item.lead}}</t4:editor>
                </label>
            </section>
            <section>
                <label class="label">Главное фото</label>
                <label class="input">

                    <p class="image"{% if not item.image %} style="display:none;"{% endif %}>
                        <img src="{{item.image}}" class="img-responsive" style="max-width: 200px; max-height: 200px;">
                    </p>
                    <p class="delete"{% if not item.image %} style="display:none;"{% endif %}>
                        <a href="#" id="item-image-delete" data-id="{% if item.isNew %}0{% else %}{{item.Pk}}{% endif %}">
                            <span class="btn btn-danger" style="padding: 5px;"><i class="fa fa-trash-o"></i> Удалить фото</span>
                        </a>
                    </p>

                    <p class="upload">
                        <span class="btn btn-success" style="padding: 5px;">
                            <i class="fa fa-upload"></i> <span>Загрузить фото</span>
                            <!-- The file input field used as target for the file upload widget -->
                            <input id="upload" type="file" name="image" data-url="/admin/news/uploadPhoto.json" style="display: none;">
                            <input type="hidden" name="image" value="">
                        </span>
                    </p>
                </label>
            </section>
            <section>
                <label class="label">Текст новости</label>
                <label class="textarea textarea-resizable">
                    <t4:editor name="text">{{item.text}}</t4:editor>
                </label>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
        </footer>
    </form>
</section>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {

        $('#item-image-delete').click( function () {
            var $this = $(this);
            var id = $this.attr('data-id');
            if (0 != id) {
                $.post('/admin/news/deletePhoto.json', {"id":id}, function (r) {
                    if (r) {
                    }
                });
            }
            $('p.delete').hide();
            $('p.image').hide();
            return false;
        });

        $('#upload').fileupload({
            dataType: 'json',
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('p.image').find('img').attr('src', file.url);
                    $('p.upload').find('input[type=hidden]').val(file.url);
                    $('p.image').show();
                    $('p.delete').show();
                });
            }
        });

    });
</script>
{% endblock %}