{% macro result(title, lead, url) %}
    <div>
        <h3><a href="{{ url }}" style="display: block; text-decoration: none">{{ title }}</a></h3>
        <p>{{lead|striptags|raw}}</p><hr>
    </div>
{% endmacro %}

{% extends 'Kdm/Inner.html' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="/">Главная страница</a></li>
        <li class="active">Электронная приёмная</li>
        <li></li>
    </ol>
    <h3 align="center">Электронная приёмная</h3>

    <div>
        <h5 align="center"><strong>ОТПРАВИТЬ ОБРАЩЕНИЕ В ФОРМЕ ЭЛЕКТРОННОГО ДОКУМЕНТА&nbsp;</strong></h5>
        <p>Пожалуйста, прежде чем отправить обращение в форме электронного документа, внимательно ознакомьтесь со следующей информацией.</p>
        <p>1. Обращения, направленные в форме электронного документа через официальный сайт, поступают на рассмотрение в Комитет по делам молодёжи
            в Костромской области&nbsp;и рассматриваются работниками отдела по работе с обращениями граждан &ndash; уполномоченными на то лицами.</p>
        <p>2. Перед отправкой обращения в форме электронного документа необходимо его написать.</p>
        <p>2.1. в обязательном порядке указав в электронной анкете:</p>
        <p>2.1.1. либо наименование государственного органа, в который Вы направляете обращение в форме электронного документа,
            либо фамилию, имя, отчество соответствующего лица, либо должность соответствующего лица, кому Вы направляете обращение в форме электронного документа;</p>
        <p>2.1.2. свою фамилию, имя, отчество (последнее &ndash; при наличии);</p>
        <p>2.1.3. адрес электронной почты, по которому должны быть направлены ответ, уведомление о переадресации обращения;</p>
        <p>2.2. изложив в поле ввода текста обращения в форме электронного документа суть предложения, заявления, жалобы.</p>
        <p>3. Ответ на Ваше обращение в форме электронного документа либо уведомление о его переадресации направляется в форме электронного документа
            по адресу электронной почты (e-mail), указанному Вами<br>
            в обращении в форме электронного документа.</p>
        <p>4. В предназначенном для обязательного заполнения поле ввода текста обращения в форме электронного документа Вы излагаете суть предложения, заявления или жалобы в соответствии со&nbsp;<a href="http://letters.adm44.ru/i/u/59-FZ29112017.pdf" style="color: rgb(0, 0, 64);">ст. 7 Федерального закона от 2 мая 2006 года № 59-ФЗ &laquo;О порядке рассмотрения обращений граждан Российской Федерации&raquo;.</a><br />
            В случае, если текст Вашего обращения не позволяет определить суть предложения, заявления или жалобы, ответ на обращение не дается,
            и оно не подлежит направлению на рассмотрение в государственный орган, орган местного самоуправления или должностному лицу в соответствии с их компетенцией,
            о чем Вам будет сообщено в течение семи дней со дня регистрации обращения.</p>
        <p>Обращаем внимание, что в целях обеспечения неразглашения сведений, содержащихся в Вашем обращении, а также сведений,
            касающихся Вашей частной жизни, при заполнении поля ввода текста обращения в форме электронного документа действует защита
            от возможного внедрения вредоносного кода.</p>
        <p>5. В случае необходимости в подтверждение своих доводов Вы вправе приложить к обращению необходимые документы и материалы в электронной форме.<br>
            Приложить необходимые документы и материалы в электронной форме Вы можете в любой последовательности двумя самостоятельными вложениями файла без архивирования
            (файл вложения) по одному из двух разных типов допустимых форматов:</p>
        <p>текстового (графического) формата: txt, doc, docx, rtf, xls, xlsx, pps, ppt, pub, pdf, jpg, bmp, png, tif, gif, pcx, odf;</p>
        <p>аудио- (видео-) формата: mp3, wma, avi, mp4, mkv, wmv, mov, flv.</p>
        <p>Иные форматы не обрабатываются в информационных системах Администрации Костромской области.</p>
        <p>Информируем Вас, что передача файла(ов) вложения на почтовый сервер зависит от пропускной способности сети &laquo;Интернет&raquo;,
            а получение &ndash; от объёма обрабатываемых почтовым сервером переданных файлов.<br>
            При подключении Вашего оборудования к сети &laquo;Интернет&raquo; по выделенным каналам связи с использованием технологий ADSL, 3G, 4G, WiFi и иных технологий,
            обеспечивающих аналогичные скорости передачи данных в сети &laquo;Интернет&raquo;, передача и обработка файла(ов) с суммарным размером:<br>
            до 5 Мб осуществляется, как правило, без задержки во времени;<br>
            от 5 Мб до 10 Мб может осуществляться с задержкой во времени;<br>
            свыше 10 Мб может быть не осуществлена.</p>
        <p>6. Если в направленном Вами тексте в форме электронного документа, содержащемся в поле ввода текста обращения в форме электронного документа,
            не изложено предложение, заявление или жалоба, а только ссылка на приложение (файл вложение) либо на контент интернет-сайта,
            то в ответе разъясняется порядок его рассмотрения, установленный Федеральным законом от 2 мая 2006 года № 59-ФЗ &laquo;О порядке рассмотрения обращений
            граждан Российской Федерации&raquo;.</p>
        <p>7. Обращаем Ваше внимание на порядок рассмотрения отдельных обращений, предусмотренный&nbsp;
                ст. 11 Федерального закона от 2 мая 2006 года № 59-ФЗ &laquo;О порядке рассмотрения обращений граждан Российской Федерации&raquo;.</p>
        <p>8. При направлении Вами обращений, касающихся обжалования судебных решений, необходимо иметь в виду следующее.<br>
            Согласно Конституции Российской Федерации правосудие в России осуществляется только судом. Органы судебной власти самостоятельны и
            действуют независимо от законодательной и исполнительной властей. Решения судебных органов обжалуются в установленном законом процессуальном порядке.</p>
        <p>9. В случае направления Вами обращения, содержащего вопрос, затрагивающий интересы неопределенного круга лиц, ответ на который был размещен на данном сайте,
            то Вам в течение семи дней со дня регистрации обращения будет сообщен электронный адрес страницы данного сайта
            &laquo;Ответы на обращения, затрагивающие интересы неопределенного круга лиц&raquo;,
            на которой размещен ответ на вопрос, поставленный в Вашем обращении.</p>
        <p>10.&nbsp;Информация о персональных данных авторов обращений, направленных в форме электронного документа, сведения,
            содержащиеся в обращениях авторов, а также сведения, касающиеся частной жизни авторов,
            хранятся и обрабатываются с соблюдением требований российского законодательства.</p>
        <p>11. Предусмотрена возможность просмотра сайта на различных устройствах &ndash; от смартфонов и планшетов до широкоформатных мониторов.
            А при ширине окна браузера выше 1570 пикселей Вы можете читать материалы сайта, сохраняя при этом доступ к навигации по странице,
            с которой Вы перешли на выбранную публикацию.</p>
        <p>Адрес для отправки обращений&nbsp;обычной почтой:</p>
        <p>ул. Чайковского, д. 4, 156000, г. Кострома, Костромская область, Россия.</p>
        <p>Координаты: N57&deg; 45, 816&#39;, E40&deg;, 55, 753&#39;.</p>
    </div>

    <div>
        <p><a class="btn btn-primary col-sm-12" href="/reception/recourse/send">Написать письмо</a></p>

        <p><a class="btn btn-primary col-sm-12" href="/reception/recourse/corruption">Сообщить о коррупции</a></p>

        <p><a class="btn btn-primary col-sm-12" href="/reception/recourse/collective-send">Написать коллективное обращение</a></p>

        <p><a class="btn btn-primary col-sm-12" href="/answer">Ответы на обращения, затрагивающие интересы неопределённого круга лиц</a></p>
    </div>

{% endblock %}
