{% macro result(title, lead, url) %}
    <div>
        <h3><a href="{{ url }}" style="display: block; text-decoration: none">{{ title }}</a></h3>
        <p>{{lead|striptags|raw}}</p><hr>
    </div>
{% endmacro %}

{% extends 'Kdm/Inner.html' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="/">Главная страница</a></li>
        <li class="active">Электронная приёмная</li>
        <li></li>
    </ol>
    <h3 align="center">Электронная приёмная</h3>
    <div>
        <h4 align="center">
            <strong>
                Отправить обращение в комитет по делам молодежи Костромской области
                (председателю Комитета, должностным лицам комитета)
                в форме электронного документа
            </strong>
        </h4>
        <p>
            Пожалуйста, прежде чем отправить обращение в комитет по делам молодежи Костромской области
            (председателю комитета, должностным лицам комитета) в форме электронного документа,
            внимательно ознакомьтесь со следующей информацией.
        </p>
        <p>
            Информируем, что реализация Вами права на обращение в форме электронного документа осуществляется в
            соответствии с российским законодательством с обеспечением защиты прав на неприкосновенность частной жизни,
            личную и семейную тайну, в том числе недопущения распространения информации о направлении Вами обращений
            и разглашения сведений, содержащихся в Ваших обращениях, а также сведений  касающихся Вашей частной жизни,
            соблюдения требований при обработке Ваших персональных данных.
        </p>
        <p>
            1. Обращения, направленные в форме электронного документа через официальный сайт «Молодежь Костромской области»,
            поступают в комитет по делам молодежи Костромской области и рассматриваются по поручению председателя комитета
            сотрудниками комитета в соответствии с их полномочиями.
            Обращения, направленные в адрес конкретного должностного лица комитета, передаются указанному должностному лицу.
        </p>
        <p>
            2. Перед направлением обращения в форме электронного документа необходимо его написать:
        </p>
        <p>
            1) в обязательном порядке указав в электронной анкете:
        </p>
        <p>
            - либо наименование государственного органа, в который Вы направляете обращение в форме электронного документа,
            либо фамилию, имя, отчество соответствующего лица, либо должность соответствующего лица,
            кому Вы направляете обращение в форме электронного документа;
        </p>
        <p>
            - свою фамилию, имя, отчество (последнее – при наличии);
        </p>
        <p>
            - адрес электронной почты, по которому должны быть направлены ответ, уведомление о переадресации обращения;
        </p>
        <p>
            2) изложить в поле ввода текста обращения в форме электронного документа суть предложения, заявления, жалобы.
        </p>
        <p>
            3. Ответ на Ваше обращение в форме электронного документа либо уведомление о его переадресации направляется
            в форме электронного документа по адресу электронной почты (e-mail),
            указанному Вами в обращении в форме электронного документа.
        </p>
        <p>
            Обращаем внимание, что в целях обеспечения неразглашения сведений, содержащихся в Вашем обращении, а также сведений,
            касающихся Вашей частной жизни, без Вашего согласия, необходимо указывать адрес электронной почты (e-mail),
            который принадлежит только автору обращения.
        </p>
        <p>
            В случае, если в Вашем электронном сообщении указан для направления ответа или уведомления о
            переадресации адрес электронной почты, на который ранее направлялись ответ либо уведомление о переадресации иному автору,
            Вам будет направлена соответствующая информация о недопустимости разглашения сведений о частной жизни,
            в том числе персональных данных (статья 24 Конституции Российской Федерации).
        </p>
        <p>
            4. В предназначенном для обязательного заполнения поле ввода текста обращения в форме электронного документа
            Вы излагаете суть предложения, заявления или жалобы в соответствии
            со ст. 7 Федерального закона от 2 мая 2006 года № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации».
        </p>
        <p>
            В случае если текст Вашего обращения не позволяет определить суть предложения, заявления или жалобы,
            ответ на обращение не дается и оно не подлежит направлению на рассмотрение в структурные подразделения комитета
            в соответствии с их компетенцией, о чем Вам будет сообщено в течение семи дней со дня регистрации обращения.
        </p>
        <p>
            При получении обращения, в котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни,
            здоровью и имуществу должностного лица, а также членов его семьи, комитет по делам молодежи Костромской области
            вправе оставить обращение без ответа по существу поставленных в нем вопросов и сообщить Вам о недопустимости злоупотребления правом.
        </p>
        <p>
            Обращаем внимание, что средства сайта позволяют сохранить для создания личного архива набранный и
            отправленный Вами текст в электронной форме в файл на жестком диске или на ином электронном носителе компьютера
            пользователя непосредственно после отправки и появления соответствующего информационного сообщения
            путем нажатия на кнопку «Сохранить текст в электронной форме в файл формата *.docx».
        </p>
        <p>
            Текст в электронной форме, набранный и отправленный через информационный ресурс «Личный кабинет»,
            сохраняется и отображается в «Личном кабинете» автора.
        </p>
        <p>
            Обращаем внимание, что в целях обеспечения неразглашения сведений, содержащихся в Вашем обращении, а также сведений,
            касающихся Вашей частной жизни, при заполнении поля ввода текста обращения в форме электронного документа
            действует защита от возможного внедрения вирусных программ.
        </p>
        <p>
            Для корректной работы сайта необходимо включить JavaScript в настройках используемого Вами браузера.
        </p>
        <p>
            5. В случае необходимости в подтверждение своих доводов Вы вправе приложить к обращению необходимые документы
            и материалы в электронной форме.
        </p>
        <p>
            Приложить необходимые документы и материалы в электронной форме Вы можете в любой последовательности двумя
            самостоятельными вложениями файла без архивирования (файл вложения) по одному из двух разных типов допустимых форматов:
        </p>
        <p>текстового (графического) формата: txt, doc, docx, rtf, xls, xlsx, pps, ppt, pub, pdf, jpg, bmp, png, tif, gif, pcx, odf;</p>
        <p>аудио- (видео-) формата: mp3, wma, avi, mp4, mkv, wmv, mov, flv.</p>
        <p>Иные форматы не обрабатываются в информационных системах комитета по делам молодежи Костромской области.</p>
        <p>
            Для приложения к обращению необходимых документов и материалов в электронной форме нажмите кнопку «Прикрепить файл».
        </p>
        <p>
            Обращаем Ваше внимание, что подтверждение прикрепления файла(ов) вложения является появление строки с наименованием выбранного Вами файла.
        </p>
        <p>
            Информируем Вас, что гарантированная передача файла(ов) вложения на почтовый сервер зависит от
            пропускной способности используемой Вами сети «Интернет», а получение – от объёма обрабатываемых почтовым сервером
            переданных файлов.
        </p>
        <p>
            При подключении Вашего оборудования к сети «Интернет» по выделенным каналам связи с использованием технологий
            ADSL, 3G, 4G, WiFi и иных технологий, обеспечивающих аналогичные скорости передачи данных в сети «Интернет»,
            передача и обработка файла(ов) с суммарным размером:
        </p>
        <p>
            до 5 Мб осуществляется, как правило, без задержки во времени;
        </p>
        <p>
            от 5 Мб до 10 Мб может осуществляться с задержкой во времени;
        </p>
        <p>
            свыше 10 Мб может быть не осуществлена.
        </p>
        <p>
            6. Если в направленном Вами тексте в форме электронного документа, содержащемся в поле ввода текста обращения
            в форме электронного документа, не изложено предложение, заявление или жалоба,
            а только ссылка на приложение (файл вложение) либо на контент интернет-сайта,
            то в ответе разъясняется порядок его рассмотрения, установленный
            Федеральным законом от 2 мая 2006 года № 59 «О порядке рассмотрения обращений граждан Российской Федерации».
        </p>
        <p>
            7. Обращаем внимание на порядок рассмотрения отдельных обращений, предусмотренный
            ст. 11  от 2 мая 2006 года № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации».
        </p>
        <p>
            8. При направлении Вами обращений, касающихся обжалования судебных решений, необходимо иметь в виду следующее.
        </p>
        <p>
            Согласно Конституции Российской Федерации, правосудие в России осуществляется только судом.
            Органы судебной власти самостоятельны и действуют независимо от законодательной и исполнительной властей.
            Решения судебных органов обжалуются в установленном законом процессуальном порядке.
            Обращение, в котором обжалуется судебное решение, в течение семи дней со дня регистрации будет Вам возвращено
            с разъяснением порядка обжалования данного судебного решения.
        </p>
        <p>
            9. В случае направления Вами обращения, содержащего вопрос, затрагивающий интересы неопределенного круга лиц,
            ответ на который был размещен на данном сайте, то Вам в течение семи дней со дня регистрации обращения будет
            сообщен электронный адрес страницы данного сайта «Ответы на обращения, затрагивающие интересы неопределенного круга лиц»,
            на которой размещен ответ на вопрос, поставленный в Вашем обращении.
        </p>
        <p>
            10. Информация о персональных данных авторов обращений, направленных в форме электронного документа, сведения,
            содержащиеся в обращениях авторов, а также сведения, касающиеся частной жизни авторов, хранятся и
            обрабатываются с соблюдением требований российского законодательства.
        </p>
        <p>
            11. В «Личном кабинете» автору после авторизации предоставляется возможность получения хронологически
            структурированной информации о ходе и результатах рассмотрения отправленных через «Личный кабинет» обращений,
            адресованных председателю комитета по делам молодежи Костромской области, должностным лицам комитета, и запросов,
            касающихся деятельности председателя комитета по делам молодежи Костромской области, должностных лиц комитета.
        </p>
        <p>
            В «Личном кабинете» размещаются данные по каждому отправленному с «Личного кабинета» обращению или запросу
            с момента регистрации автора на информационном ресурсе «Личный кабинет» в разделе «Обращения».
        </p>
        <p>
            12. В комитете по делам молодежи Костромской области работает система информирования автора о результатах рассмотрения
            его обращений на сайтах региональных органов исполнительной власти, иных государственных органов,
            в которые обращение было направлено для рассмотрения.
        </p>
        <p>
            Переход на соответствующий сайт осуществляется из «Личного кабинета» по специальной ссылке (при наличии).
        </p>
        <p>
            13. Предусмотрена возможность просмотра сайта на различных устройствах – от смартфонов и планшетов до широкоформатных мониторов.
            А при ширине окна браузера выше 1570 пикселей вы можете читать материалы сайта, сохраняя при этом доступ к навигации по странице,
            с которой вы перешли на выбранную публикацию.
        </p>
        <p>
            Адрес для направления обращений почтовым отправлением:
        </p>
        <p>
            ул. Чайковского, дом 4, 156000, г. Кострома
        </p>
    </div>
    <div>
        <p><a class="btn btn-primary col-sm-12" href="/reception/recourse/send">Написать письмо</a></p>

        <p><a class="btn btn-primary col-sm-12" href="/reception/recourse/corruption">Сообщить о коррупции</a></p>

        <p><a class="btn btn-primary col-sm-12" href="/reception/recourse/collective-send">Написать коллективное обращение</a></p>

        <p><a class="btn btn-primary col-sm-12" href="/answer">Ответы на обращения, затрагивающие интересы неопределённого круга лиц</a></p>
    </div>

{% endblock %}
