<nav class="main-navigation clearfix" role="navigation" style="font-size: 15px;">
    <div class="container">
            <t4:block path="///Menu"/>
    </div>
</nav>

<!--
<div class="main-navigation clearfix">
    <ul class="main-navigation-menu">
        <li>
            <div class="dropdown">
                <a href="" class="dropdown-toggle" type="button" id="dropdownMenu1"
                   data-toggle="dropdown" aria-expanded="true">
                    Официально
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another
                        action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something
                        else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated
                        link</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="">Новости</a>
        </li>
        <li>
            <div class="dropdown">
                <a href="" class="dropdown-toggle" type="button" id="dropdownMenu2"
                   data-toggle="dropdown" aria-expanded="true">
                    Конкурсы и гранты
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="#">Action</a></li>
                    <li class="dropdown dropdown-sub-menu" role="presentation"><a
                            role="menuitem" tabindex="-1" href="#">Под меню</a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1"
                                                       href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1"
                                                       href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something
                        else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated
                        link</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <a href="" class="dropdown-toggle" type="button" id="dropdownMenu3"
                   data-toggle="dropdown" aria-expanded="true">
                    Общественные объединения
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Длинный
                        пункт выпадающего списка</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another
                        action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something
                        else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated
                        link</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <a href="" class="dropdown-toggle" type="button" id="dropdownMenu4"
                   data-toggle="dropdown" aria-expanded="true">
                    Официально
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another
                        action</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <a href="" class="dropdown-toggle" type="button" id="dropdownMenu5"
                   data-toggle="dropdown" aria-expanded="true">
                    Фото и видео
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu5">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another
                        action</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="">Патриот</a>
        </li>
    </ul>
</div>
-->