<div class="social">
    <ul class="social-icons">
        <li><a href="https://vk.com/molodezh44" target="_blank" class="icon-vkontakte"><img src="{{asset('/Layouts/Kdm/assets/img/icon-vkontakte.png')}}"/></a></li>
        <!--
        <li><a href="" class="icon-mail"><img src="{{asset('/Layouts/Kdm/assets/img/icon-mail.png')}}"/></a></li>
        <li><a href="" class="icon-odnoklassniki"><img src="{{asset('/Layouts/Kdm/assets/img/icon-odnoklassniki.png')}}"/></a></li>
        -->
    </ul>
</div>
