<div class="social">
    <ul class="social-icons">
        <li><a href="" class="icon-twitter"><img src="{{asset('/Layouts/Kdm/assets/img/icon-twitter.png')}}"/></a></li>
        <li><a href="" class="icon-mail"><img src="{{asset('/Layouts/Kdm/assets/img/icon-mail.png')}}"/></a></li>
        <li><a href="" class="icon-odnoklassniki"><img src="{{asset('/Layouts/Kdm/assets/img/icon-odnoklassniki.png')}}"/></a>
        </li>
        <li><a href="" class="icon-vkontakte"><img src="{{asset('/Layouts/Kdm/assets/img/icon-vkontakte.png')}}"/></a></li>
        <li><a href="" class="icon-facebook"><img src="{{asset('/Layouts/Kdm/assets/img/icon-facebook.png')}}"/></a></li>
        <li><a href="" class="icon-google"><img src="{{asset('/Layouts/Kdm/assets/img/icon-google.png')}}"/></a></li>
    </ul>
</div>