<div class="container">
    <div class="row">
        <div class="header clearfix">

            <div class="header-top" style="margin-bottom: 10px">
                <div class="col-md-6">
                    {% include 'Kdm/__logo.html' %}
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12" style="text-align: right; padding: 0">
                            {% if not app.user %}
                            <a href="/login">Вы не авторизованы</a>
                            {% else %}
                            <a href="/password">Сменить пароль</a> | <a href="/logout">Выход</a> |
                            {% if  app.user.role.name == 'admin' %}
                            <a href="/admin">Панель администратора</a> | <a href="/admin/news/edit/?id=new">Добавить новость</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% include 'Kdm/__social.html' %}
                </div>
            </div>
            <div class="header-body">
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'Kdm/__slider.html' %}
                    </div>
                </div>
            </div>

            <div class="header-bottom">
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'Kdm/__menu.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>