{% macro result(title, lead, url) %}
    <div>
        <h3><a href="{{ url }}" style="display: block; text-decoration: none">{{ title }}</a></h3>
        <p>{{lead|striptags|raw}}</p><hr>
    </div>
{% endmacro %}

{% extends 'Kdm/Inner.html' %}

{% block content %}

{% if query == 'send' %}
    {% set sendTitle = 'Написать письмо' %}
{% endif %}
{% if query == 'corruption' %}
    {% set sendTitle = 'Сообщить о коррупции' %}
{% endif %}
{% if query == 'collective-send' %}
    {% set sendTitle = 'Написать коллективное обращение' %}
{% endif %}

    <ol class="breadcrumb">
        <li><a href="/">Главная страница</a></li>
        <li class="active"><a href="/letter">Электронная приёмная</a></li>
        <li class="active">{{ sendTitle }}</li>
        <li></li>
    </ol>
    <h3 align="center">{{ sendTitle }}</h3>

{% if sendTitle == 'Сообщить о коррупции' %}
    <div>
        <p>
            В соответствии с пунктом 1 статьи 1 Федерального закона от 25 декабря 2008 года No 273-ФЗ «О противодействии коррупции» КОРРУПЦИЯ – это:
        </p>
        <p>
            — злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление полномочиями,
            коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки законным интересам общества
            и государства в целях получения выгоды в виде денег, ценностей, иного имущества или услуг имущественного характера,
            иных имущественных прав для себя или для третьих лиц либо незаконное предоставление такой выгоды указанному лицу другими физическими лицами;
        </p>
        <p>
            — совершение деяний, указанных выше, от имени или в интересах юридического лица.
        </p>
        <p>
            В соответствии с пунктом 2 статьи 1 Федерального закона от 25 декабря 2008 года No 273-ФЗ «О противодействии коррупции» противодействием коррупции является:
        </p>
        <p>
            деятельность федеральных органов государственной власти, органов государственной власти субъектов Российской Федерации,
            органов местного самоуправления, институтов гражданского общества, организаций и физических лиц в пределах их полномочий:
        </p>
        <p>
            а) по предупреждению коррупции, в том числе по выявлению и последующему устранению причин коррупции (профилактика коррупции);
        </p>
        <p>
            б) по выявлению, предупреждению, пресечению, раскрытию и расследованию коррупционных правонарушений (борьба с коррупцией);
        </p>
        <p>
            в) по минимизации и (или) ликвидации последствий коррупционных правонарушений.
        </p>
        <p>
            Если Вы считаете, что Вам стали известны факты коррупции, а также если у Вас имеются конкретные предложения,
            направленные на совершенствование работы по противодействию коррупции, Вы можете сообщить об этом.
        </p>
    </div>
    <hr>
{% endif %}

{% include 'Kdm/__sendForm.html' %}

{% endblock %}
