<div class="well">
    <form class="smart-form" method="post" action="/pages/admin/save">
        <header>Добавление новой страницы</header>
        <fieldset>
            <section>
                <label class="label">Заголовок страницы</label>
                <label class="input">
                    <input type="text" name="title">
                </label>
            </section>
            <section>
                <label class="label">Родительская страница</label>
                <label class="select">
                    {{ selectTreeByModel("App\\Modules\\Pages\\Models\\\Page", 0, {"name":"parent"}) }}
                    <i></i>
                </label>
            </section>
            <section>
                <label class="label">URL (адрес страницы)</label>
                <label class="input">
                    <input type="text" name="url">
                </label>
            </section>
            <section>
                <label class="label">Текст страницы</label>
                <label class="textarea textarea-resizable">
                    <textarea rows="3" class="custom-scroll" name="text"></textarea>
                </label>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">Добавить</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
        </footer>
    </form>
</div>

<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    pageSetUp();
    // PAGE RELATED SCRIPTS
    {{publish('/Layouts/Admin/SmartAdmin/assets')}}
    loadScript("{{ asset('/Layouts/Admin/SmartAdmin/assets/js/plugin/ckeditor/ckeditor.js') }}", function () {
        CKEDITOR.replace('text', { height: '380px', startupFocus : true} );
    });
</script>
