.jarviswidget .col-sm-8 > select,
.jarviswidget .col-sm-8 > input,
.jarviswidget .col-sm-8 > textarea {
    width: 100%;
}

#widget-grid header {
    padding: 13px;
    height: auto;
}

#widget-grid header > h6 {
    margin: 0;
}
