body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

/* ------ */

#logo #slogan {
    padding-top: 15px;
    padding-bottom: 20px;
}
#logo h1, #logo h2 {
    margin-top: 0;
    text-transform: uppercase;
}
#logo h1 {
    font-size: 2.3em;
}#logo h2 {
     font-size: 1.8em;
 }

.top-right-block {
    padding-top: 15px;
}
.top-login-form {
    margin-top: 5px;
}

nav.top>ul>li {
    display: table-cell;
    vertical-align: middle;
}
nav.top>ul>li>a {
    line-height: 34px;
}
nav.top ul.dropdown-menu {
    margin: 0;
    border:none;
    font-size: inherit;
}

/* ---- */
/* Заголовки блоков */
article[role=block] .panel-heading h6 {
    font-size: 140%;
    display: inline;
}
article[role=block] .caret {
    margin-bottom: 4px;
}