{% extends 'Admin/Smart/blank_.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/gallery/">Альбомы</a></li>
    <li>{% if item.isNew %}Добавление альбома{% else %}Редактирование альбома{% endif %}</li>
</ol>
{% endblock %}

{% block content %}

{% for error in errors %}
<div class="alert alert-danger" role="alert">{{error.message}}</div>
{% endfor %}

<section class="well">
    <form class="smart-form" method="post" enctype="multipart/form-data" action="/admin/gallery/albumSave">
        {% if item.isNew %}
        <header>Добавление альбома</header>
        {% else %}
        <input type="hidden" name="id" value="{{item.Pk}}">
        <header>Редактирование альбома</header>
        {% endif %}
        <fieldset>
            <section>
                <label class="label">Название альбома</label>
                <label class="input">
                    <input type="text" name="title" value="{{item.title}}">
                </label>
            </section>
            <section>
                <label class="label">Родительский альбом</label>
                <label class="select">
                    {% if item.isNew %}
                    {% if item.parent %}
                    {{ selectTreeByModel("App\\Modules\\Gallery\\Models\\\Album", item.parent.Pk, {"null":true},{"name":"parent"}) }}
                    {% else %}
                    {{ selectTreeByModel("App\\Modules\\Gallery\\Models\\Album", 0, {"null":true},{"name":"parent","class": "form-control"}) }}
                    {% endif %}
                    {% else %}
                    {{ selectTreeByModel("App\\Modules\\Gallery\\Models\\Album", item.parent.Pk, {"null":true, 'disabled':[item.Pk]}, {"name":"parent", "class": "form-control"}) }}
                    {% endif %}
                    <i></i>
                </label>
            </section>
            <section>
                <label class="label">URL (адрес альбома)</label>
                <label class="input">
                    <div class="input-group">
                        <input type="text" name="url" value="{{item.url}}">
                        <span class="input-group-addon">.html</span>
                    </div>
                </label>
            </section>
        </fieldset>

        <footer>
            <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить{% endif %}
            </button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
            {% if not item.isNew %}<a href="/admin/gallery/AlbumDelete/?id={{item.Pk}}" class="confirmable">
            <button type="button" class="btn btn-danger">Удалить</button>
        </a>{% endif %}
        </footer>

    </form>
</section>
{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {

        $('a.confirmable').click(function () {
            return confirm('Вы уверены?');
        });

    });
</script>
{% endblock %}