<nav class="container top">
    <ul class="nav nav-pills nav-justified">
        <li class="dropdown">
            <a class="dropdown-toggle" data-hover="dropdown" href="#">Официально</a>
            <ul class="dropdown-menu">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Учреждения</a></li>
                <li><a href="#">Коллеги</a></li>
                <li><a href="#">Методические рекомендации</a></li>
            </ul>
        </li>
        <li><a href="#">Новости</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-hover="dropdown" href="#">Конкурсы и гранты</a>
            <ul class="dropdown-menu">
                <li><a href="#">Положения</a></li>
                <li><a href="#">Протоколы</a></li>
                <li><a href="#">Региональные</a></li>
                <li><a href="#">Федеральные</a></li>
                <li><a href="#">Международные</a></li>
            </ul>
        </li>
        <li><a href="#" style="line-height: 17px;">Общественные объединения</a></li>
        <li><a href="#" style="line-height: 17px;">Направления деятельности</a></li>
        <li><a href="#">События</a></li>
        <li><a href="#">Фото и видео</a></li>
        <li><a href="http://forumpatriot.ru/" target="_blank">Патриот</a></li>
    </ul>
</nav>