<!DOCTYPE html>
<html lang="en" xmlns:t4="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Молодёжная политика Костромской области</title>

    {{ publishCss() }}
    <link rel="stylesheet" href="{{asset('/Layouts/Main/assets/main.css')}}">
    {{ publishJs() }}

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6" id="logo">
                <div class="col-md-3">
                    <a href="/"><img src="{{asset('/Layouts/Main/assets/img/kostroma.png')}}" alt="Молодёжная политика Костромской области" class="img-responsive"></a>
                </div>
                <div class="col-md-9" id="slogan">
                    <h1><a href="/">Молодёжная политика</a></h1>
                    <h2><a href="/">Костромской области</a></h2>
                </div>
            </div>
            <div class="col-md-6 text-right top-right-block">
                {% include 'Main/_social.html' %}
                <div class="top-login-form"><t4:block path="///Login" template="inline" /></div>
            </div>
        </div>
    </div>

    <nav class="container">
        <ul class="nav nav-tabs nav-justified" id="top">
            <li class="active"><a href="#">Главная</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">О нас<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Планы</a></li>
                    <li><a href="#">Аппарат</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Обращения граждан</a></li>
                    <li><a href="#">Нормативные документы</a></li>
                    <li><a href="#">Программы</a></li>
                    <li><a href="#">Отчеты</a></li>
                    <li><a href="#">Статистика</a></li>
                </ul>
            </li>
            <li><a href="#">Учреждения</a></li>
            <li><a href="#">Коллеги</a></li>
            <li><a href="#" style="line-height: inherit">Совещательные органы</a></li>
            <li><a href="#">Конкурсы</a></li>
            <li><a href="#">Мультимедиа</a></li>
            <li><a href="#" style="line-height: inherit">Трудовые отряды</a></li>
            <li><a href="#" style="line-height: inherit">Общественные организации</a></li>
            <li><a href="#">Патриот</a></li>
        </ul>
    </nav>
<p></p>

    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <t4:section id="1" />

            </div>

            <div class="col-md-6">

                <div class="media">
                    <a class="pull-left" href="#">
                        <span class="label label-info">27.03.2014</span>
                        <img class="media-object img-responsive img-thumbnail" src="http://kdm44.ru/files/images/qqqqqqqqq_1.jpg" style="max-width: 200px">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Определены лучшие "Добровольцы года"!</h4>
                        <p>26 марта 2014 года состоялся финал областного конкурса «Доброволец года», цель которого - выявление лучших добровольческих практик и общественно-значимых инициатив добровольцев в Костромской области.</p>
                    </div>
                    <p class="pull-left">Теги: <span class="label label-default">пример1, пример2</span></p>
                    <p class="pull-right">Комментарии: <span class="label label-default">13</span></p>
                </div>
                <div class="media">
                    <a class="pull-left" href="#">
                        <span class="label label-info">27.03.2014</span>
                        <img class="media-object img-responsive img-thumbnail" src="http://kdm44.ru/files/images/Logotipy_Dobrovolets_Rossii%20.jpg" style="max-width: 200px">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Финал областного конкурса «Доброволец года»</h4>
                        <p>26 марта 2014 года в 11.00  на базе театра-студии «Молодежная мода» по адресу г. Кострома, ул. Симановского, д.11 состоится финал областного конкурса «Доброволец года», целью которого является выявление лучших добровольческих практик и общественно-значимых инициатив добровольцев в Костромской области.</p>
                    </div>
                    <p class="pull-left">Теги: <span class="badge">пример1, пример2</span></p>
                    <p class="pull-right">Комментарии: <span class="badge">13</span></p>
                </div>
                <div class="media">
                    <a class="pull-left" href="#">
                        <span class="label label-info">27.03.2014</span>
                        <img class="media-object img-responsive img-thumbnail" src="http://kdm44.ru/files/images/qqqqqqqqq_1.jpg" style="max-width: 200px">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Определены лучшие "Добровольцы года"!</h4>
                        <p>26 марта 2014 года состоялся финал областного конкурса «Доброволец года», цель которого - выявление лучших добровольческих практик и общественно-значимых инициатив добровольцев в Костромской области.</p>
                    </div>
                    <p class="pull-left">Теги: <span class="badge">пример1, пример2</span></p>
                    <p class="pull-right">Комментарии: <span class="badge">13</span></p>
                </div>
                <div class="media">
                    <a class="pull-left" href="#">
                        <span class="label label-info">27.03.2014</span>
                        <img class="media-object img-responsive img-thumbnail" src="http://kdm44.ru/files/images/Logotipy_Dobrovolets_Rossii%20.jpg" style="max-width: 200px">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Финал областного конкурса «Доброволец года»</h4>
                        <p>26 марта 2014 года в 11.00  на базе театра-студии «Молодежная мода» по адресу г. Кострома, ул. Симановского, д.11 состоится финал областного конкурса «Доброволец года», целью которого является выявление лучших добровольческих практик и общественно-значимых инициатив добровольцев в Костромской области.</p>
                    </div>
                    <p class="pull-left">Теги: <span class="badge">пример1, пример2</span></p>
                    <p class="pull-right">Комментарии: <span class="badge">13</span></p>
                </div>
                {% block content %}{% endblock %}
            </div>

            <div class="col-md-3">

                <div class="panel panel-default">
                    <div class="panel-heading"><span class="caret"></span> Федеральные новости<span class="badge pull-right">RSS</span></div>
                    <div class="panel-body">

                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://kdm44.ru/files/images/kanal-1.gif" style="width: 64px">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">ГТРК «Кострома» Вести. Новости от 27.03.2014</h4>
                                <p>Десятиклассник Евгений Сутягин из Костромского района стал одним из победителей всероссийского конкурса «Национальное достояние России»</p>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://kdm44.ru/files/images/logo_ctc_left.png" style="width: 64px">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">ГТРК «Кострома» Вести. Новости от 27.03.2014</h4>
                                <p>Десятиклассник Евгений Сутягин из Костромского района стал одним из победителей всероссийского конкурса «Национальное достояние России»</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading"><span class="caret"></span> Региональные новости<span class="badge pull-right">RSS</span></div>
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://kdm44.ru/files/images/kanal-1.gif" style="width: 64px">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">ГТРК «Кострома» Вести. Новости от 27.03.2014</h4>
                                <p>Десятиклассник Евгений Сутягин из Костромского района стал одним из победителей всероссийского конкурса «Национальное достояние России»</p>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://kdm44.ru/files/images/logo_ctc_left.png" style="width: 64px">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">ГТРК «Кострома» Вести. Новости от 27.03.2014</h4>
                                <p>Десятиклассник Евгений Сутягин из Костромского района стал одним из победителей всероссийского конкурса «Национальное достояние России»</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading"><span class="caret"></span> Муниципальные новости<span class="badge pull-right">RSS</span></div>
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://kdm44.ru/files/images/kanal-1.gif" style="width: 64px">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">ГТРК «Кострома» Вести. Новости от 27.03.2014</h4>
                                <p>Десятиклассник Евгений Сутягин из Костромского района стал одним из победителей всероссийского конкурса «Национальное достояние России»</p>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://kdm44.ru/files/images/logo_ctc_left.png" style="width: 64px">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">ГТРК «Кострома» Вести. Новости от 27.03.2014</h4>
                                <p>Десятиклассник Евгений Сутягин из Костромского района стал одним из победителей всероссийского конкурса «Национальное достояние России»</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</body>
</html>