<!DOCTYPE html>
<html lang="en" xmlns:t4="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Молодёжь Костромской области</title>

    {{ publishCss() }}
    <link rel="stylesheet" href="{{asset('/Layouts/Main/assets/main.css')}}">
    {{ publishJs() }}
    <script src="{{asset('/Layouts/Main/assets/js/bootstrap-hover-dropdown.js')}}"></script>

</head>

<body>

    {% include 'Main/__top.html' %}
    {% include 'Main/__menu.html' %}
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <t4:section id="1" />
            </div>

            <div class="col-md-6">
                <t4:section id="2" />
                {% block content %}{% endblock %}
            </div>

            <div class="col-md-3">
                <t4:section id="3" />
            </div>
        </div>
    </div>

    <div class="footer text-center">
        <noindex>
            <a href="http://kostroma.ruy.ru" rel="nofollow" target="_blank" title="Костромская областная общественная организация РСМ"><img src="/images/part-banners/kostroma.ruy.ru.jpg" width="105" height="48" style="border:0px;"></a>
            &nbsp;
            <a href="http://fadm.gov.ru/regionmain/region46/" rel="nofollow" target="_blank" title="Официальный Интернет-ресурс Федерального агентства по делам молодежи (Росмолодежь)"><img src="/images/part-banners/fadmgovru.jpg" width="105" height="48" style="border:0px;"></a>
            &nbsp;
            <a href="http://www.adm44.ru" target="_blank" rel="nofollow" title="Портал государственных органов Костромской области"><img src="/images/part-banners/adm44ru.jpg" width="105" height="48" style="border:0px;"></a>
            &nbsp;
            <a href="http://xn----8sbcggdwwrkbe1aq0cxl.xn--p1ai/" target="_blank" rel="nofollow" title="технология-добра.рф"><img src="/file/banner/tehnologiya.jpg" width="105" height="48" style="border:0px;"></a>
            &nbsp;
            <a href="http://www.ivdi.ru" target="_blank" rel="nofollow" title="Клуб начинающих журналистов Костромы"><img src="/images/part-banners/www.ivdi.ru.gif" width="105" height="48" style="border:0px;"></a>
            &nbsp;
            <a href="http://www.allrussiatv.ru/kostroma" rel="nofollow" target="_blank" title="Федеральный телевизионный портал"><img src="/images/part-banners/vca-rossia.jpg" width="105" height="48" style="border:0px;"></a>
            &nbsp;
            <a href="http://forumpatriot.ru" target="_blank" title="Образовательный форум Патриот"><img src="/images/part-banners/patriot-white.png" width="105" height="48" style="border:0px;"></a>
            &nbsp;
            <a href="http://www.mger2020.ru" target="_blank" title="Костромской информационный портал"><img src="/images/part-banners/mger.jpg" width="105" height="48" style="border:0px;"></a>  <br><br>
            <a href="http://www.koipkro.kostroma.ru/koiro/default.aspx" target="_blank" title="Костромской областной институт развития образования"><img src="/images/part-banners/koipkro.jpg" style="border:0px;" width="105px;"></a>  <a href="http://vk.com/ligakostroma" target="_blank"><img src="/file/banner/ligadebatov.jpg"></a>
            <a href="http://volga-orur.ru/index.php" target="_blank"><img src="/file/banner/volga-orur.jpg"></a>
            <a href="http://vk.com/club24642581" target="_blank"><img src="/file/banner/bd.jpg"></a>
            <a href="http://ddt-pokolenie.ru/" target="_blank" title="ДДТ Поколение"><img src="/file/banner/ddo-pokolenie.jpeg"></a>
        </noindex>
    </div>

</body>
</html>