{% extends 'Kdm/Inner.html' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="/">Главная страница</a></li>
        <li class="active">Поиск</li>
        <li></li>
    </ol>

    <h2 style="margin-top: 0">Поиск</h2>
    <form action="/search.html">
        <input type="text" name="searchstring" value="{{ searchstring }}">
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>

    <table class="table table-hover">
        <tbody>

        {% macro result(title, lead, url) %}
        <tr>
            <td width="80%">
                <a href="{{ url }}" style="display: block; text-decoration: none">
                    {{ title }}
                </a>
                <div>{{lead|striptags|raw}}</div>
            </td>
        </tr>
        {% endmacro %}

        {% if searchstring is not null %}
        {% import _self as row %}

        <tr><th>Новости</th></tr>
        {% for item in stories %}
            {{ row.result(item.getTitle(), item.getLead(), item.getUrl()) }}
        {% else %}
        <tr><td>Поиск новостей не дал результатов</td></tr>
        {% endfor %}

        <tr><th>Страницы</th></tr>
        {% for item in pages %}
            {{ row.result(item.getTitle(), item.getLead(), item.getUrl()) }}
        {% else %}
        <tr><td>Поиск страниц не дал результатов</td></tr>
        {% endfor %}

        <tr><th>Альбомы</th></tr>
        {% for item in albums %}
            {{ row.result(item.getTitle(), item.getLead(), item.getUrl()) }}
        {% else %}
        <tr><td>Поиск альбомов не дал результатов</td></tr>
        {% endfor %}

        {% endif %}

        </tbody>
    </table>

{% endblock %}