{% extends 'Kdm/Inner.html' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="/">Главная страница</a></li>
        <li class="active">Поиск</li>
        <li></li>
    </ol>

    <h2 style="margin-top: 0">Поиск</h2>
    <form action="/search.html">
        <input type="text" name="text" value="{{ text }}">
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>

    <table class="table table-hover">
        <tbody>

        {% if stories is empty
        and pages is empty
        and albums is empty %}

            {% if text is not null %}
                <p>Поиск не дал результатов</p>
            {% endif %}

        {% else %}
            {% if stories is not empty %}
                {% for story in stories %}
                <tr>
                    <td width="80%">
                        <a href="{{ story.getUrl() }}" style="display: block; text-decoration: none">
                            {{ story.getTitle() }}
                        </a>
                        <br>
                        <div>{{story.getLead()|striptags|raw}}</div>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}

            {% if pages is not empty %}
                {% for page in pages %}
                <tr>
                    <td width="80%">
                        <a href="{{ page.getUrl() }}" style="display: block; text-decoration: none">
                            {{ page.getTitle() }}
                        </a>
                        <br>
                        <div>{{page.getLead()|striptags|raw}}</div>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}

            {% if albums is not empty %}
                {% for album in albums %}
                <tr>
                    <td width="80%">
                        <a href="{{ album.getUrl() }}" style="display: block; text-decoration: none">
                            {{ album.getTitle() }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}

        {% endif %}

        </tbody>
    </table>

{% endblock %}