{% macro result(title, lead, url) %}
    <div>
        <h3><a href="{{ url }}" style="display: block; text-decoration: none">{{ title }}</a></h3>
        <p>{{lead|striptags|raw}}</p><hr>
    </div>
{% endmacro %}

{% extends 'Kdm/Inner.html' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="/">Главная страница</a></li>
        <li class="active">Поиск</li>
        <li></li>
    </ol>

    <h2 style="margin-top: 0">Поиск</h2>
    <form action="/search.html">
        <input type="text" name="searchstring" value="{{ searchstring }}">
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>

    {% if searchstring is not null %}
        <div>
            {% import _self as block %}

            <section>
                <h2>Новости</h2>
                {% for item in stories %}
                    {{ block.result(item.getTitle(), item.getLead(), item.getUrl()) }}
                {% else %}
                    <p>Поиск новостей не дал результатов</p>
                {% endfor %}
            </section>

            <section>
                <h2>Страницы</h2>
                {% for item in pages %}
                    {{ block.result(item.getTitle(), item.getLead(), item.getUrl()) }}
                {% else %}
                    <p>Поиск страниц не дал результатов</p>
                {% endfor %}
            </section>

            <section>
                <h2>Альбомы</h2>
                {% for item in albums %}
                    {{ block.result(item.getTitle(), item.getLead(), item.getUrl()) }}
                {% else %}
                    <p>Поиск альбомов не дал результатов</p>
                {% endfor %}
            </section>

        </div>
    {% endif %}

{% endblock %}
