<div class="section-title text-upp">
    <strong>
        <a href="/gallery">Фотоальбомы</a>
    </strong>
</div>
<div class="row">
    {% for item in albums %}
        <div class="col-sm-6 text-center" style="margin-bottom: 10px">
            <div style="height: 210px; overflow: hidden;">
                <a href="/gallery/albums/{{ item.url }}.html">
                    <img src="{% if item.cover %} {{ item.cover.image }} {% else %} {{ item.photos[0].image }} {% endif %}" class="img-responsive" style="display:inline-block; max-height: 210px;">
                </a>
            </div>
            <div style="height: 65px; overflow: hidden;">
                <a href="/gallery/albums/{{ item.url }}.html"><p style="font-size: 15px">{{ item.title }}</p></a>
            </div>
        </div>
    {% else %}
        <div class="title color-title">Фотоальбомов нет</div>
    {% endfor %}
</div>
