a.album-link {
    text-decoration: none;
}

p.album-title {
    font-size: 25px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    font-family: Georgia, serif;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    padding-top: 390px;
    line-height: normal;

}