body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

#logo #slogan {
    padding-top: 15px;
    padding-bottom: 20px;
}
#logo h1, #logo h2 {
    margin-top: 0;
    text-transform: uppercase;
}
#logo h1 {
    font-size: 2em;
}#logo h2 {
    font-size: 2.1em;
}

nav #top>li {
}
nav #top>li>a {
    min-height:56px;
}