<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i> Секции и блоки </h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" class="">
            <li class="sparks-info">
                <h5> Всего секций <span class="txt-color-blue">{{sections|length}}</span></h5>
            </li>
            <li class="sparks-info">
                <h5> Доступно блоков <span class="txt-color-purple">{{blocksAvaliable|length}}</span></h5>
            </li>
            <li class="sparks-info">
                <h5> Установлено блоков <span class="txt-color-greenDark">{{blocksInstalled|length}}</span></h5>
            </li>
        </ul>
    </div>
</div>

<div class="row">

    <h2 class="row-seperator-header"><i class="fa fa-th-list"></i> Размещенные на сайте </h2>

    <div class="well col-sm-12 col-md-12 col-lg-12">
        <div class="panel-group smart-accordion-default" id="accordion">

            {% for sectionId, section in sections %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{sectionId}}">
                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                            #{{sectionId}}&nbsp;&ndash; {{section.name}}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{sectionId}}" class="panel-collapse collapse{%if 1==sectionId%} in{%endif%}">
                    <div class="panel-body">

                        <section id="section-{{sectionId}}" data-section-id="{{sectionId}}" class="well block-drop-area" style="background-color: lightyellow; border: 1px dashed gray;">
                            <div class="row">
                            {% for path, block in blocksInstalled[sectionId] %}
                            {% include '_block_installed.html' %}
                            {% endfor %}
                            </div>
                        </section>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</div>

<div class="row">
    <h2 class="row-seperator-header"><i class="fa fa-th-list"></i> Доступные для размещения </h2>
</div>

<!-- widget grid -->
<section id="widget-grid">
    <!-- row -->
    <div class="row">

        {% for path, block in blocksAvailable %}
        {% include '_block_available.html' %}
        {% endfor %}

    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    //pageSetUp();

    $( ".block-drop-area .row" ).sortable({
        handle: "header",
        cursor: "move",
        update: function( event, ui ) {
            var sortedIDs = $(this).sortable("toArray", {attribute: "data-block-id"});
            $.get('/admin/blocks/sortBlocks.json', {
                ids: sortedIDs
            }, function (data) {
            });
        }
    });
    $( ".block-drop-area .row" ).disableSelection();

    $(".block-available-draggable").draggable({handle: "header", cursor: "move", revert: "invalid"});
    $(".block-drop-area").droppable({
        accept: '.block-draggable',
        drop: function (event, ui) {
            var sectionId = $(this).attr('data-section-id');
            var block = ui.draggable;
            var blockPath = block.attr('data-block-path');
            $.get('/admin/blocks/setupBlock.json', {
                sectionId: sectionId,
                blockPath: blockPath
            }, function (data) {
                if (data.result) {
                    $('#section-'+sectionId).append(block);
                };
            });
        }
    });
</script>

<style>
    article header {
        cursor: move;
    }
    .block-placeholder {
        height: 50px;
        border: 1px solid black;
    }
</style>