{% extends 'Main/Inner.html' %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    {% for subpage in item.getBreadCrumbs %}
    <li><a href="/pages/{{subpage.url}}.html">{{subpage.title}}</a></li>
    {% endfor %}
    <li class="active">{{item.title}}</li>
</ol>

<h2 style="margin-top: 0">{{item.title}}</h2>
<div>
    {% if item.template=='list' %}
    <t4:block path="/Pages//SubTree(id={{item.Pk}})" />
    {% endif %}
    {{item.text|raw}}
</div>

{% endblock %}