{% extends 'Main/Inner.html' %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    {% for subpage in item.getBreadCrumbs %}
    <li><a href="/pages/{{subpage.url}}.html">{{subpage.title}}</a></li>
    {% endfor %}
</ol>

{% if app.user.role.name == 'admin' %}
<div class="well pull-right" style="margin: 0 0 10px 10px;">
    <a href="/admin/pages/edit/?id={{item.Pk}}"><span class="btn btn-sm btn-default"><i class="glyphicon glyphicon-pencil"></i></span></a>
    <a href="/admin/pages/delete/?id={{item.Pk}}" class="confirmable"><span class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></span></a>
</div>
<script type="text/javascript">
    $(function() {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });
    });
</script>
{% endif %}

<h2 style="margin-top: 0">{{item.title}}</h2>
<div>
    {% if item.template=='list' %}
    <t4:block path="/Pages//SubTree(id={{item.Pk}})" />
    {% endif %}
    {{item.text|raw}}
</div>

{% endblock %}