{% macro result(title, lead, url) %}
    <div>
        <h3><a href="{{ url }}" style="display: block; text-decoration: none">{{ title }}</a></h3>
        <p>{{lead|striptags|raw}}</p><hr>
    </div>
{% endmacro %}

{% extends 'Kdm/Inner.html' %}

{% block content %}

{% set count = 10 %}

    <ol class="breadcrumb">
        <li><a href="/">Главная страница</a></li>
        <li class="active"><a href="/letter">{{ item.title }}</a></li>
        <li class="active">Коллективное письмо</li>
        <li></li>
    </ol>
    <h3 align="center">Коллективное письмо</h3>

{% include 'Kdm/__sendForm.html' %}

{% endblock %}
