{% extends 'Kdm/Inner.html' %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    <li><a href="/cabinet">Личный кабинет</a></li>
    <li class="active">Профиль</li>
    <li></li>
</ol>
<div>
    <p>{{ user.first_name ?? user.email }}, Вы вошли в личный кабинет!</p>
    <p><a href="/cabinet/logout">Выход из личного кабинета</a></p>
</div>
<h3 align="center"><strong>Личный кабинет</strong></h3>
<hr>
{{ form.render()|raw }}

{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger">
            <ul>
                <li>{{error.getMessage()}}</li>
            </ul>
        </div>
    {% endfor %}
{% endif %}

<div>
    <div>
        <h4 align="center">Профиль</h4>
        <br>
        <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="lastName">Фамилия</label>
            <div class="col-sm-7">
                <input class="form-control" id="lastName" type="text" value="{{ user.last_name }}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="firstName">Имя</label>
            <div class="col-sm-7">
                <input class="form-control" id="firstName" type="text" value="{{ user.first_name }}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="middleName">Отчество</label>
            <div class="col-sm-7">
                <input class="form-control" id="middleName" type="text" value="{{ user.middle_name }}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="email">Адрес электронной почты</label>
            <div class="col-sm-7">
                <input required  type="email" id="email" class="form-control" name="email" value="{{ user.email }}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="phone">Номер телефона</label>
            <div class="col-sm-7">
                <input type="text" id="phone" class="form-control phone"  name="phone" value="{{ user.phone }}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="organization" class="col-sm-5 col-form-label">Наименование организации (юридического лица)</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="organization" name="organization" value="{{ user.organization }}" readonly>
            </div>
        </div>
    </div>
    <div class="form-style">
        <form action="/cabinet/profile" enctype="multipart/form-data" id="contact_body" method="post">
            <div>
                <div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label" for="password">Введите новый пароль (не менее шести символов)</label>
                        <div class="col-sm-7">
                            <input type="password" id="password" class="form-control" name="password" placeholder="Введите новый пароль">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label" for="passwordConfirmation">Повторите пароль</label>
                        <div class="col-sm-7">
                            <input type="password" id="passwordConfirmation" class="form-control" name="passwordConfirmation" placeholder="Повторите пароль">
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
