{% set level = items[0].__lvl %}
{% set count = 0 %}
<ul class="nav navbar-nav">

    {% for item in items %}

        {% set current = item.__lvl %}

        {% if current == level %}
        {% if count > 0 %}</li>{% endif %}
        {% endif %}

        {% if current > level %}
        <ul class="dropdown-menu">
        {% set level = current %}
        {% endif %}

        {% if current < level %}
        {{"</li></ul>"|repeat(level-current)|raw}}</li>
        {% set level = current %}
        {% endif %}

        <li data-id="{{item.__id}}"{% if (item.__rgt - item.__lft) > 1 %} class="dropdown{% if current > 0 %} dropdown-submenu{% endif %}"{% endif %}>
            {% if (item.__rgt - item.__lft) > 1 %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="{{item.url}}" data-target="#">{{item.title}}</a>
            {% else %}
            <a href="{{item.url}}">{{item.title}}</a>
            {% endif %}

        {% set count = count + 1 %}

    {% endfor %}

    {{"</li></ul>"|repeat(current+1)|raw}}

    </li>
</ul>